main{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
main > table#bio-table{
    width: 100%;
    border: 3px solid rgb(251, 191, 36);
    border-radius: 16.18px;
    background-color: rgb(6, 4, 32);
    border-spacing: 15px;
    max-width: 530px;
}
main > table#bio-table > thead img{
    width: 100%;
}
main > table#bio-table > thead th{
    background-color:rgb(251, 191, 36);
    color: black;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.5em;
}
main > table#bio-table > tbody > tr > th{
    text-align: left;
    vertical-align: top;
}

section#bio-container1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    align-items: center;
}
section#bio-container1>p{
    text-indent: 20px;
    
}
main>section#bio-container1>a.plus-btn-container>img{
    flex-shrink:0;
}
main>section#bio-container1>a.plus-btn-container{
    display: flex;
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(251, 191, 36);
    gap: 15px;
    padding: 5px 25px;
    border: 3px solid rgb(251, 191, 36);
    border-radius: 10px;
    max-width: 347px;
}
main>section#bio-container1>h1{
    color: rgb(251, 191, 36);
    font-size: 1.5em;
    width: 100%;
}
section#bio-suite{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    gap: 30px;
}
section#bio-suite > figure{
    width: 100%;
    max-width: 530px;
    border-radius: 16.18px;
    padding: 10px;
    border: 3px solid rgb(251, 191, 36);
    flex-shrink: 0;
}
section#bio-suite > figure > figcaption{
    color: black;
    text-align: center;
    font-weight: 500;
    background-color: rgb(251, 191, 36);
    padding: 5px 15px;
    border-radius: 10px;
}
section#bio-suite > figure > img{
    border-radius: 10px;
    width: 100%;
}
section#bio-resume{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}
section#bio-resume > .bio-point{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    text-align: center;
    
}
section#bio-resume > .bio-point > h1{
    color:rgb(251, 191, 36);
}
@media screen and (min-width: 1024px){
    main{
        flex-direction: row;
        gap: 0;
        
    }
    section#bio-container1{
        width: 40%;
    }
    main > table#bio-table{
        width: 40%;
    }
    section#bio-suite{
        height: 100vh;
        flex-direction:row;
    }
    
}

@media screen and (min-width: 1500px){
    main{
        height: 100%;
    }
    .screen-container{
        height: 100vh;
    }
    main>section#bio-container1>a.plus-btn-container, section#bio-resume > .bio-point{
        max-width: 500px;
    }
    section#bio-container1{
        max-width: 750px
    }
    
}