/* On définit quelque règles par défaut */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
strong{
    font-weight: 500;
}

body {
    font-family: 'Poppins',Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    background-color: rgb(9,6,45);
    
}

a {
    text-decoration: none;
    color: inherit;
}
.screen-container{
    display: flex;
    flex-direction: column;
}
/* Quelque règles pour le header*/
header{
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#usthb-logo{
    width: 80px;
    height: 80px;
}
/* Règles pour le container des liens vers les pages + Button Cta*/
nav > ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
nav > ul > li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* Pour la page séléctionné */
li.is-active > svg > path{
    fill:rgb(251, 191, 36);
}
li.is-active a{
    font-weight: 600;
    color: rgb(251, 191, 36);
}
/*Button CTA*/
a.header-btn{
    background-color: rgb(251, 191, 36);
    color: black;
    padding: 5px 50px;
    border-radius: 10px;
    font-weight: 600;
    flex-shrink: 0;
}
header img#mobile-menu:hover{
    cursor: pointer;
}

header > nav{
    display: none;
}
/*Overlay pour le menu dans le cas de mobile pour la responsivness de header*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}
.active{
    display: block;
    
}
.showUp{
    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    width: 100%;
}
header img#mobile-menu{
    height: 30px;
    width: auto;
}
/*Fin pour le header*/
/*Footer début*/
footer{
    background-color: rgb(6, 4, 32);
    padding: 15px;
    text-align: center;
}
footer a{
    color:rgb(251, 191, 36)
}
footer #github-icon{
    position: relative;
    top: 10px;
}
/*Footer fin*/
@media screen and (min-width: 500px){
    body{
        font-size: 20px;
    }
}
@media screen and (min-width: 600px){
    footer{
        padding: 30px 60px;
    }
    header img#mobile-menu{
        height: auto;
        width: auto;
    }
}
@media screen and (min-width: 1024px){
    header img#mobile-menu{
        display: none;
    }
    header > nav{
        display: block;
    }
    header > nav > ul {
        flex-direction: row;
    }
    a.header-btn{
        display: block;
    }
}
@media screen and (min-width: 1500px){
    body{
        font-size: 30px;
    }
}


